

#home{
    margin-left: 50px;
    padding-left: 20px;
    width: 500px;
    height: 250px;
    background-color: brown;
}

#about{
    margin-left: 50px;
    padding-left: 20px;
    width: 500px;
    height: 250px;
    background-color:darkmagenta;
}

